---
title: Pascal's Garden
date: 2025
---
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style/app.css">
</head>
<body>
<header>
    <h1>Pascal's Garden</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="/archives">Archives</a>
    <a href="/about">About</a>
</nav>

<main>
	{{ content }}
</main>

<footer>
    <p>
    Created by {{ site.author.name }}, follow me on <a href="https://instagram.com/{{site.author.twitter}}">Instagram</a>. 
    <i>Copyright &copy; {{ page.date | justYear }}</i>
    </p>
</footer>
</body>
</html>